# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Model artifacts
*.pkl

# Dataset (optional, if too large)
*.csv

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
